---

---

<section class="<%=name.parameterize%> work__detail">

  <div class="work__background"></div>

  <div class="work__content">
    <div class="work__summary">

      <div class="work__header">
        <%= link_to("BACK TO HOME", "/" ) %>
      </div>

      <%= image_tag("/images/logos/#{name.parameterize}.png", :class => "work__logo", :alt => name) %>

      <% if url %>
        <a href="http://<%=url%>" target="_blank" class="work__site"><%=url%></a>
      <% end %>
      <p class="work__desc"><%=desc%></p>

    </div>

    <div class="work__photos">

      <% photos.each do |f| %>
        <img class="lazy" data-src="/images/works/<%=name.parameterize%>/<%=f.photo.parameterize%>.<%=f.format%>" alt="<%=name%>">
        <noscript><img src="/images/works/<%=name.parameterize%>/<%=f.photo.parameterize%>.<%=f.format%>" alt="<%=name%>"></noscript>
      <% end %>
    </div>
  </div>

  <!-- <%=name%> -->
</section>
